

.title{
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding-bottom: 20px;
}

.title__name {
  text-align: center;

  font-size: 20px;
}

.title__number {
  padding-left: 20px;
  color: rgb(252, 141, 113);
}


@media screen and (max-width: 400px) {
  .title__name {
    font-size: 15px;
  }

  .title__number {
    padding-left: 10px;
    font-size: 20px;
  }
}